## Python数据分析第05天

### 1.1 Pandas的应用

#### 1.1.1.数据重塑

In [112]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

plt.rcParams['font.sans-serif'] = ['SimHei']
plt.rcParams['axes.unicode_minus'] = False

In [113]:
# %pip install -U pymysql cryptography

In [114]:
# %pip install sqlalchemy==1.4.0

In [115]:
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:123456@localhost:3306/hrs')
engine

Engine(mysql+pymysql://root:***@localhost:3306/hrs)

In [116]:
dept_df = pd.read_sql('select dno as deptno, dname, dloc from tb_dept', engine)
dept_df

   deptno dname dloc
0      10   会计部   北京
1      20   研发部   成都
2      30   销售部   重庆
3      40   运维部   深圳
4      80  研发8部   天津
5      90  研发5部   北京

In [117]:
emp_df = pd.read_sql('select eno, ename, job, mgr, sal, comm, dno from tb_emp', engine)
emp_df

     eno ename   job     mgr    sal    comm  dno
0   1359   胡一刀   销售员  3344.0   2300   200.0   30
1   2056    乔峰   分析师  7800.0   6000  1500.0   20
2   3088   李莫愁   设计师  2056.0   4500   800.0   20
3   3211   张无忌   程序员  2056.0   4200     NaN   20
4   3233   丘处机   程序员  2056.0   4400     NaN   20
5   3244   欧阳锋   程序员  3088.0   4200     NaN   20
6   3251   张翠山   程序员  2056.0   5000     NaN   20
7   3344    黄蓉  销售主管  7800.0   3500   800.0   30
8   3577    杨过    会计  5566.0   2400     NaN   10
9   3588   朱九真    会计  5566.0   2700     NaN   10
10  4466   苗人凤   销售员  3344.0   3000     NaN   30
11  5234    郭靖    出纳  5566.0   2200     NaN   10
12  5566   宋远桥   会计师  7800.0   4200  1000.0   10
13  7800   张三丰    总裁     NaN  10000  1200.0   20

In [118]:
# dept_df.rename(columns={'dno': 'deptno'}) # 修改列名

In [119]:
temp_df = pd.merge(emp_df, dept_df, how='inner', left_on='dno', right_on='deptno')
temp_df

     eno ename   job     mgr    sal    comm  dno  deptno dname dloc
0   1359   胡一刀   销售员  3344.0   2300   200.0   30      30   销售部   重庆
1   3344    黄蓉  销售主管  7800.0   3500   800.0   30      30   销售部   重庆
2   4466   苗人凤   销售员  3344.0   3000     NaN   30      30   销售部   重庆
3   2056    乔峰   分析师  7800.0   6000  1500.0   20      20   研发部   成都
4   3088   李莫愁   设计师  2056.0   4500   800.0   20      20   研发部   成都
5   3211   张无忌   程序员  2056.0   4200     NaN   20      20   研发部   成都
6   3233   丘处机   程序员  2056.0   4400     NaN   20      20   研发部   成都
7   3244   欧阳锋   程序员  3088.0   4200     NaN   20      20   研发部   成都
8   3251   张翠山   程序员  2056.0   5000     NaN   20      20   研发部   成都
9   7800   张三丰    总裁     NaN  10000  1200.0   20      20   研发部   成都
10  3577    杨过    会计  5566.0   2400     NaN   10      10   会计部   北京
11  3588   朱九真    会计  5566.0   2700     NaN   10      10   会计部   北京
12  5234    郭靖    出纳  5566.0   2200     NaN   10      10   会计部   北京
13  5566   宋远桥   会计师  7800.0   4200  1000.0   10      10   会计部   北京

In [120]:
temp_df.drop(columns=['deptno', 'job'])

     eno ename     mgr    sal    comm  dno dname dloc
0   1359   胡一刀  3344.0   2300   200.0   30   销售部   重庆
1   3344    黄蓉  7800.0   3500   800.0   30   销售部   重庆
2   4466   苗人凤  3344.0   3000     NaN   30   销售部   重庆
3   2056    乔峰  7800.0   6000  1500.0   20   研发部   成都
4   3088   李莫愁  2056.0   4500   800.0   20   研发部   成都
5   3211   张无忌  2056.0   4200     NaN   20   研发部   成都
6   3233   丘处机  2056.0   4400     NaN   20   研发部   成都
7   3244   欧阳锋  3088.0   4200     NaN   20   研发部   成都
8   3251   张翠山  2056.0   5000     NaN   20   研发部   成都
9   7800   张三丰     NaN  10000  1200.0   20   研发部   成都
10  3577    杨过  5566.0   2400     NaN   10   会计部   北京
11  3588   朱九真  5566.0   2700     NaN   10   会计部   北京
12  5234    郭靖  5566.0   2200     NaN   10   会计部   北京
13  5566   宋远桥  7800.0   4200  1000.0   10   会计部   北京

In [121]:
dept_df.set_index('deptno')

       dname dloc
deptno
10       会计部   北京
20       研发部   成都
30       销售部   重庆
40       运维部   深圳
80      研发8部   天津
90      研发5部   北京

In [122]:
pd.merge(emp_df, dept_df, how='inner', left_on='dno', right_index=True)

Empty DataFrame
Columns: [eno, ename, job, mgr, sal, comm, dno, deptno, dname, dloc]
Index: []

拼接表

In [ ]:
import os 

filenames = os.listdir('data')  # 查看目录下的文件
all_dfs = [pd.read_csv(f'data\{filename}') for filename in filenames]  # 读取所有文件

jobs_df = pd.concat(all_df, ignore_index=True).drop(columns=['uri'])  # 合并所有文件,忽略索引,删除uri列
jobs_df

In [ ]:
# jobs_df['job']  # 选择job列
# jobs_df.job  # 选择job列
# jobs_df[['job', 'company']] # 选择job和company列
# jobs_df[jobs_df.edu == '本科']  # 选择edu列等于本科的行

In [ ]:
# jobs_df.loc[1] # 选择第1行
# jobs_df.loc[[1, 3, 5]]  # 选择第1,3,5行
# jobs_df.loc[1:5] # 选择第1行到第5行
# jobs_df.at[1, 'job'] # 选择第1行job列
# jobs_df.at[1, 'job'] = '数据分析师' # 修改第1行job列的值

In [ ]:
# jobs_df['level'] = '优' # 添加level列,默认值为优
# jobs_df['level'] = ['优', '良', '中', '差'] * (9825 // 4) # 修改level列的值
# jobs_df.loc[9825] = {'company': '百度', 'job': '数据分析师'} # 添加一行

数据清洗

In [124]:
emp_df.isna()

      eno  ename    job    mgr    sal   comm    dno
0   False  False  False  False  False  False  False
1   False  False  False  False  False  False  False
2   False  False  False  False  False  False  False
3   False  False  False  False  False   True  False
4   False  False  False  False  False   True  False
5   False  False  False  False  False   True  False
6   False  False  False  False  False   True  False
7   False  False  False  False  False  False  False
8   False  False  False  False  False   True  False
9   False  False  False  False  False   True  False
10  False  False  False  False  False   True  False
11  False  False  False  False  False   True  False
12  False  False  False  False  False  False  False
13  False  False  False   True  False  False  False

In [125]:
emp_df.dropna()

     eno ename   job     mgr   sal    comm  dno
0   1359   胡一刀   销售员  3344.0  2300   200.0   30
1   2056    乔峰   分析师  7800.0  6000  1500.0   20
2   3088   李莫愁   设计师  2056.0  4500   800.0   20
7   3344    黄蓉  销售主管  7800.0  3500   800.0   30
12  5566   宋远桥   会计师  7800.0  4200  1000.0   10

In [126]:
emp_df.dropna(axis=1)

     eno ename   job    sal  dno
0   1359   胡一刀   销售员   2300   30
1   2056    乔峰   分析师   6000   20
2   3088   李莫愁   设计师   4500   20
3   3211   张无忌   程序员   4200   20
4   3233   丘处机   程序员   4400   20
5   3244   欧阳锋   程序员   4200   20
6   3251   张翠山   程序员   5000   20
7   3344    黄蓉  销售主管   3500   30
8   3577    杨过    会计   2400   10
9   3588   朱九真    会计   2700   10
10  4466   苗人凤   销售员   3000   30
11  5234    郭靖    出纳   2200   10
12  5566   宋远桥   会计师   4200   10
13  7800   张三丰    总裁  10000   20

In [127]:
emp_df.fillna(0)

     eno ename   job     mgr    sal    comm  dno
0   1359   胡一刀   销售员  3344.0   2300   200.0   30
1   2056    乔峰   分析师  7800.0   6000  1500.0   20
2   3088   李莫愁   设计师  2056.0   4500   800.0   20
3   3211   张无忌   程序员  2056.0   4200     0.0   20
4   3233   丘处机   程序员  2056.0   4400     0.0   20
5   3244   欧阳锋   程序员  3088.0   4200     0.0   20
6   3251   张翠山   程序员  2056.0   5000     0.0   20
7   3344    黄蓉  销售主管  7800.0   3500   800.0   30
8   3577    杨过    会计  5566.0   2400     0.0   10
9   3588   朱九真    会计  5566.0   2700     0.0   10
10  4466   苗人凤   销售员  3344.0   3000     0.0   30
11  5234    郭靖    出纳  5566.0   2200     0.0   10
12  5566   宋远桥   会计师  7800.0   4200  1000.0   10
13  7800   张三丰    总裁     0.0  10000  1200.0   20

In [128]:
emp_df['comm'] = emp_df['comm'].fillna(0).astype(np.int64) # 填充comm列的空值为0,并转换为整型
emp_df

     eno ename   job     mgr    sal  comm  dno
0   1359   胡一刀   销售员  3344.0   2300   200   30
1   2056    乔峰   分析师  7800.0   6000  1500   20
2   3088   李莫愁   设计师  2056.0   4500   800   20
3   3211   张无忌   程序员  2056.0   4200     0   20
4   3233   丘处机   程序员  2056.0   4400     0   20
5   3244   欧阳锋   程序员  3088.0   4200     0   20
6   3251   张翠山   程序员  2056.0   5000     0   20
7   3344    黄蓉  销售主管  7800.0   3500   800   30
8   3577    杨过    会计  5566.0   2400     0   10
9   3588   朱九真    会计  5566.0   2700     0   10
10  4466   苗人凤   销售员  3344.0   3000     0   30
11  5234    郭靖    出纳  5566.0   2200     0   10
12  5566   宋远桥   会计师  7800.0   4200  1000   10
13  7800   张三丰    总裁     NaN  10000  1200   20

In [129]:
emp_df.duplicated('job') # 查看job列是否有重复值

0     False
1     False
2     False
3     False
4      True
5      True
6      True
7     False
8     False
9      True
10     True
11    False
12    False
13    False
dtype: bool

In [130]:
emp_df.drop_duplicates('job', keep='first') # 删除重复的job列,保留第一行

     eno ename   job     mgr    sal  comm  dno
0   1359   胡一刀   销售员  3344.0   2300   200   30
1   2056    乔峰   分析师  7800.0   6000  1500   20
2   3088   李莫愁   设计师  2056.0   4500   800   20
3   3211   张无忌   程序员  2056.0   4200     0   20
7   3344    黄蓉  销售主管  7800.0   3500   800   30
8   3577    杨过    会计  5566.0   2400     0   10
11  5234    郭靖    出纳  5566.0   2200     0   10
12  5566   宋远桥   会计师  7800.0   4200  1000   10
13  7800   张三丰    总裁     NaN  10000  1200   20

In [131]:
sales_df = pd.read_csv(r'C:\Users\wdl\Data-analysis\data\某招聘网站招聘数据.csv')
sales_df

,no,_id,adWord,appShow,approve,businessZones,city,companyFullName,companyId,companyLabelList,companyLogo,companyShortName,companySize,createTime,deliver,district,education,explain,financeStage,firstType,formatCreateTime,gradeDescription,hitags,imState,industryField,industryLables,isHotHire,isSchoolJob,jobNature,lastLogin,latitude,linestaion,longitude,pcShow,plus,positionAdvantage,positionId,positionLables,positionName,promotionScoreExplain,publisherId,resumeProcessDay,resumeProcessRate,salary,score,secondType,skillLables,stationname,subwayline,thirdType,workYear,job_detail
0,0,5de5e75734e608e63026c1bc,9,0,1,['亦庄'],北京,达疆网络科技（上海）有限公司,32836,"['年底双薪', '绩效奖金', '岗位晋升', '定期体检']",i/image2/M01/AF/7F/CgotOV3kqOqAZvWrAAAaonXDCck...,达达-京东到家,2000人以上,2019-12-02 20:38:25,0,大兴区,本科,NaN,D轮及以上,产品|需求|项目类,1天前发布,NaN,"['免费班车', '新婚红包', '定期调薪', '电脑补贴', '生子红包', '地铁周边...",today,消费生活,[],0,0,全职,2019-12-03 10:33:07,39.795747,亦庄线_万源街;亦庄线_荣京东街,116.510442,0,NaN,成长快、氛围好、领导好,6638350,"['BI', '数据分析']",数据分析岗,NaN,7855636,1,100,15k-30k,0,数据分析,"['BI', '数据分析']",万源街,亦庄线,BI,3-5年,"1 、负责o2o电商日常运营数据的统计, 监控, 梳理指标体系；||2、基于海量用户行为数据..."
1,1,5de5e75734e608e63026c1bd,0,0,1,NaN,北京,北京音娱时光科技有限公司,286568,"['年底双薪', '绩效奖金', '带薪年假', '免费健身']",i/image2/M01/8B/9A/CgotOV15uyKAMCL3AAAvAzXIrFw...,音娱时光,50-150人,2019-12-03 11:23:35,0,海淀区,本科,NaN,A轮,产品|需求|项目类,11:23发布,NaN,NaN,today,移动互联网,[],0,0,全职,2019-12-03 11:23:38,39.977555,10号线_知春路;10号线_西土城;13号线_大钟寺;13号线_知春路,116.352145,0,NaN,技术大牛多；免费餐饮；氛围好；,6263661,"['SQL', 'BI', 'SPSS']",数据分析,NaN,12147286,1,100,10k-18k,0,数据分析,"['SQL', 'BI', 'SPSS']",知春路,10号线,数据分析,1-3年,职责描述：||1. 完善业务数据监控体系，进行新功能指标埋点逻辑设计，搭建分析框架，...
2,2,5de5e75734e608e63026c1be,0,0,1,['西北旺'],北京,北京千喜鹤餐饮管理有限公司,278964,[],i/image2/M00/15/70/CgotOVn0PGWACXyxAAA4aF7GFgk...,千喜鹤,2000人以上,2019-12-03 10:35:09,0,海淀区,本科,NaN,未融资,产品|需求|项目类,10:35发布,NaN,NaN,today,消费生活,"['移动互联网', '视频', 'SQL']",0,0,全职,2019-12-03 11:08:34,40.066757,16号线_永丰;16号线_永丰南,116.249581,0,NaN,福利好，五险一金，住房补助,6660141,"['移动互联网', '视频', 'SQL']",数据分析,NaN,6436858,0,0,20k-30k,0,数据分析,"['SQL', '数据分析']",永丰,16号线,数据分析,3-5年,工作职责：||1.负责根据业务目标，制定并执行产品或业务的运营数据监控与分析机制。||2.完...
3,3,5de5e75734e608e63026c1bf,0,0,0,NaN,北京,吉林省海生电子商务有限公司,399744,[],images/logo_default.png,吉林省海生电子商务有限公司,少于15人,2019-12-03 10:35:56,0,朝阳区,本科,NaN,不需要融资,产品|需求|项目类,10:35发布,NaN,NaN,today,电商,['其他'],0,0,全职,2019-12-03 10:30:37,40.042254,NaN,116.291027,0,NaN,五险一金,6660148,['其他'],数据分析,NaN,10978749,0,0,33k-50k,0,数据分析,['数据分析'],NaN,NaN,数据分析,3-5年,1.基于对业务的支持和理解，搭建出可以准确反映业务运作状况的数据指标体系；||2.商业嗅觉灵...
4,4,5de5e75734e608e63026c1c0,0,0,0,"['大望路', '建外大街', '南磨房']",北京,韦博网讯科技（北京）有限公司,580170,[],i/image2/M01/41/6C/CgoB5lz3eJGAYy2MAACd7SzHgKw...,WPIC,50-150人,2019-12-03 12:10:22,0,朝阳区,本科,NaN,未融资,产品|需求|项目类,12:10发布,NaN,NaN,today,"电商,软件开发",['电商'],0,0,全职,2019-12-03 11:54:22,39.907088,1号线_国贸;1号线_大望路;10号线_国贸;14号线东段_大望路,116.476390,0,NaN,待遇优厚 ，良好的发展前景,6590101,['电商'],数据分析,NaN,13213101,0,0,10k-15k,0,数据分析,['数据分析'],国贸,1号线,产品|需求|项目类,1-3年,职责描述：||1. 调研工作以客户需求为主导；||2. 根据市场调研计划，进行市场信息的收集...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,3135,5de5ea1134e608e63026cdfb,0,0,1,"['和平路', '荣业大街']",天津,清博津商（天津）教育科技有限公司,260578,[],i/image/M00/71/9D/CgpEMlm3izaARpphAAAZkNkeH5I1...,清博津商,15-50人,2019-11-13 15:55:55,0,和平区,不限,NaN,不需要融资,运营|编辑|客服类,2019-11-13,NaN,NaN,overSevenDays,"数据服务,教育",[],0,1,兼职,2019-11-13 15:55:45,39.135395,1号线_二纬路;2号线_建国道;2号线_东南角;2号线_鼓楼,117.189960,0,NaN,大数据行业优势，工作氛围好,6579749,"['审核', '内容审核', '信息']",审核实习生（春节短期）,NaN,8913003,0,0,1k-2k,0,审核,"['审核', '内容审核', '信息']",东南角,2号线,信息审核,应届毕业生,NaN
3136,3136,5de5ea1134e608e63026cdfc,0,0,1,NaN,天津,上海礼紫股权投资基金管理有限公司,264817,[],i/image2/M00/04/07/CgotOVnDRlSADajmAABbasES-5U...,礼紫股权投资,500-2000人,2019-11-04 09:02:04,0,河北区,不限,NaN,未融资,运营|编辑|客服类,2019-11-04,NaN,NaN,overSevenDays,金融,"['社交', '运营']",0,0,全职,2019-11-14 16:23:36,39.135753,2号线_天津站;2号线_建国道;2号线_东南角;3号线_天津站;3号线_津湾广场;3号线_和...,117.202045,0,NaN,旅游团建、内部晋升、待遇优厚、提供住宿,6270749,"['社交', '运营']",运营助理,NaN,9535048,0,0,6k-8k,0,运营,['运营'],天津站,3号线,运营助理|专员,不限,NaN
3137,3137,5de5ea1134e608e63026cdfd,0,0,1,['中北'],天津,北京达佳互联信息技术有限公司,1880,"['股票期权', '弹性工作', '定期体检', '岗位晋升']",i/image2/M00/26/EF/CgoB5lof5AuADFWJAAAK3VU74GU...,快手,2000人以上,2019-12-03 10:16:28,0,西青区,本科,NaN,D轮及以上,运营|编辑|客服类,10:16发布,NaN,NaN,today,文娱丨内容,[],0,0,全职,2019-12-03 10:01:37,39.126226,NaN,117.091798,0,NaN,"五险一金,绩效奖金,餐补,房补",5051153,"['运营', '用户运营']",运营编辑团队leader,NaN,10506720,0,0,8k-15k,0,运营,"['运营', '用户运营']",NaN,NaN,用户运营,3-5年,NaN
3138,3138,5de5ea1134e608e63026cdfe,0,0,1,"['南营门', '南市', '海光寺']",天津,北京河狸家信息技术有限公司,25854,"['高配福利', '弹性时间', 'BAT￥', '逗逼伙伴']",i/image/M00/51/CD/CgpFT1l7CNyAB5eqAAA-kan1PAk4...,河狸家,500-2000人,2019-12-02 17:03:54,0,和平区,不限,NaN,C轮,运营|编辑|客服类,1天前发布,NaN,NaN,today,移动互联网,"['电商', '商家运营']",0,0,全职,2019-12-03 11:25:10,39.120331,1号线_二纬路;1号线_海光寺;1号线_鞍山道;1号线_营口道;3号线_营口道;3号线_西康路,117.184059,0,NaN,五险一金,6624059,"['电商', '商家运营']",商家运营-天津,NaN,14725914,3,1,6k-8k,0,运营,['商家运营'],西康路,3号线,商家运营,不限,NaN
3139,3139,5de5ea1134e608e63026cdff,0,0,1,"['南营门', '南市', '海光寺']",天津,北京河狸家信息技术有限公司,25854,"['高配福利', '弹性时间', 'BAT￥', '逗逼伙伴']",i/image/M00/51/CD/CgpFT1l7CNyAB5eqAAA-kan1PAk4...,河狸家,500-2000人,2019-12-02 17:03:56,0,和平区,本科,NaN,C轮,运营|编辑|客服类,1天前发布,NaN,NaN,today,移动互联网,['移动互联网'],0,1,全职,2019-12-03 11:25:10,39.120331,1号线_二纬路;1号线_海光寺;1号线_鞍山道;1号线_营口道;3号线_营口道;3号线_西康路,117.184059,0,NaN,转正机会,6633633,['移动互联网'],运营实习生-天津,NaN,14725914,3,1,2k-4k,0,运营,[],西康路,3号线,运营助理|专员,应届毕业生,NaN

In [132]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3140 entries, 0 to 3139
Data columns (total 52 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   no                     3140 non-null   int64
 1   _id                    3140 non-null   object
 2   adWord                 3140 non-null   int64
 3   appShow                3140 non-null   int64
 4   approve                3140 non-null   int64
 5   businessZones          1544 non-null   object
 6   city                   3140 non-null   object
 7   companyFullName        3140 non-null   object
 8   companyId              3140 non-null   int64
 9   companyLabelList       3140 non-null   object
 10  companyLogo            3139 non-null   object
 11  companyShortName       3140 non-null   object
 12  companySize            3140 non-null   object
 13  createTime             3140 non-null   object
 14  deliver                3140 non-null   int64
 15  district               3133 non-null   object
 16  education              3140 non-null   object
 17  explain                0 non-null      float64
 18  financeStage           3140 non-null   object
 19  firstType              3140 non-null   object
 20  formatCreateTime       3140 non-null   object
 21  gradeDescription       0 non-null      float64
 22  hitags                 260 non-null    object
 23  imState                3140 non-null   object
 24  industryField          3140 non-null   object
 25  industryLables         3140 non-null   object
 26  isHotHire              3140 non-null   int64
 27  isSchoolJob            3140 non-null   int64
 28  jobNature              3140 non-null   object
 29  lastLogin              3140 non-null   object
 30  latitude               3133 non-null   float64
 31  linestaion             2403 non-null   object
 32  longitude              3133 non-null   float64
 33  pcShow                 3140 non-null   int64
 34  plus                   0 non-null      float64
 35  positionAdvantage      3140 non-null   object
 36  positionId             3140 non-null   int64
 37  positionLables         3140 non-null   object
 38  positionName           3140 non-null   object
 39  promotionScoreExplain  0 non-null      float64
 40  publisherId            3140 non-null   int64
 41  resumeProcessDay       3140 non-null   int64
 42  resumeProcessRate      3140 non-null   int64
 43  salary                 3140 non-null   object
 44  score                  3140 non-null   int64
 45  secondType             3140 non-null   object
 46  skillLables            3140 non-null   object
 47  stationname            2403 non-null   object
 48  subwayline             2403 non-null   object
 49  thirdType              3140 non-null   object
 50  workYear               3140 non-null   object
 51  job_detail             1513 non-null   object
dtypes: float64(6), int64(14), object(32)
memory usage: 1.2+ MB

In [133]:
sales_df.drop(columns=['_id', 'no','adWord','appShow','approve']) # 删除无用列

,businessZones,city,companyFullName,companyId,companyLabelList,companyLogo,companyShortName,companySize,createTime,deliver,district,education,explain,financeStage,firstType,formatCreateTime,gradeDescription,hitags,imState,industryField,industryLables,isHotHire,isSchoolJob,jobNature,lastLogin,latitude,linestaion,longitude,pcShow,plus,positionAdvantage,positionId,positionLables,positionName,promotionScoreExplain,publisherId,resumeProcessDay,resumeProcessRate,salary,score,secondType,skillLables,stationname,subwayline,thirdType,workYear,job_detail
0,['亦庄'],北京,达疆网络科技（上海）有限公司,32836,"['年底双薪', '绩效奖金', '岗位晋升', '定期体检']",i/image2/M01/AF/7F/CgotOV3kqOqAZvWrAAAaonXDCck...,达达-京东到家,2000人以上,2019-12-02 20:38:25,0,大兴区,本科,NaN,D轮及以上,产品|需求|项目类,1天前发布,NaN,"['免费班车', '新婚红包', '定期调薪', '电脑补贴', '生子红包', '地铁周边...",today,消费生活,[],0,0,全职,2019-12-03 10:33:07,39.795747,亦庄线_万源街;亦庄线_荣京东街,116.510442,0,NaN,成长快、氛围好、领导好,6638350,"['BI', '数据分析']",数据分析岗,NaN,7855636,1,100,15k-30k,0,数据分析,"['BI', '数据分析']",万源街,亦庄线,BI,3-5年,"1 、负责o2o电商日常运营数据的统计, 监控, 梳理指标体系；||2、基于海量用户行为数据..."
1,NaN,北京,北京音娱时光科技有限公司,286568,"['年底双薪', '绩效奖金', '带薪年假', '免费健身']",i/image2/M01/8B/9A/CgotOV15uyKAMCL3AAAvAzXIrFw...,音娱时光,50-150人,2019-12-03 11:23:35,0,海淀区,本科,NaN,A轮,产品|需求|项目类,11:23发布,NaN,NaN,today,移动互联网,[],0,0,全职,2019-12-03 11:23:38,39.977555,10号线_知春路;10号线_西土城;13号线_大钟寺;13号线_知春路,116.352145,0,NaN,技术大牛多；免费餐饮；氛围好；,6263661,"['SQL', 'BI', 'SPSS']",数据分析,NaN,12147286,1,100,10k-18k,0,数据分析,"['SQL', 'BI', 'SPSS']",知春路,10号线,数据分析,1-3年,职责描述：||1. 完善业务数据监控体系，进行新功能指标埋点逻辑设计，搭建分析框架，...
2,['西北旺'],北京,北京千喜鹤餐饮管理有限公司,278964,[],i/image2/M00/15/70/CgotOVn0PGWACXyxAAA4aF7GFgk...,千喜鹤,2000人以上,2019-12-03 10:35:09,0,海淀区,本科,NaN,未融资,产品|需求|项目类,10:35发布,NaN,NaN,today,消费生活,"['移动互联网', '视频', 'SQL']",0,0,全职,2019-12-03 11:08:34,40.066757,16号线_永丰;16号线_永丰南,116.249581,0,NaN,福利好，五险一金，住房补助,6660141,"['移动互联网', '视频', 'SQL']",数据分析,NaN,6436858,0,0,20k-30k,0,数据分析,"['SQL', '数据分析']",永丰,16号线,数据分析,3-5年,工作职责：||1.负责根据业务目标，制定并执行产品或业务的运营数据监控与分析机制。||2.完...
3,NaN,北京,吉林省海生电子商务有限公司,399744,[],images/logo_default.png,吉林省海生电子商务有限公司,少于15人,2019-12-03 10:35:56,0,朝阳区,本科,NaN,不需要融资,产品|需求|项目类,10:35发布,NaN,NaN,today,电商,['其他'],0,0,全职,2019-12-03 10:30:37,40.042254,NaN,116.291027,0,NaN,五险一金,6660148,['其他'],数据分析,NaN,10978749,0,0,33k-50k,0,数据分析,['数据分析'],NaN,NaN,数据分析,3-5年,1.基于对业务的支持和理解，搭建出可以准确反映业务运作状况的数据指标体系；||2.商业嗅觉灵...
4,"['大望路', '建外大街', '南磨房']",北京,韦博网讯科技（北京）有限公司,580170,[],i/image2/M01/41/6C/CgoB5lz3eJGAYy2MAACd7SzHgKw...,WPIC,50-150人,2019-12-03 12:10:22,0,朝阳区,本科,NaN,未融资,产品|需求|项目类,12:10发布,NaN,NaN,today,"电商,软件开发",['电商'],0,0,全职,2019-12-03 11:54:22,39.907088,1号线_国贸;1号线_大望路;10号线_国贸;14号线东段_大望路,116.476390,0,NaN,待遇优厚 ，良好的发展前景,6590101,['电商'],数据分析,NaN,13213101,0,0,10k-15k,0,数据分析,['数据分析'],国贸,1号线,产品|需求|项目类,1-3年,职责描述：||1. 调研工作以客户需求为主导；||2. 根据市场调研计划，进行市场信息的收集...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,"['和平路', '荣业大街']",天津,清博津商（天津）教育科技有限公司,260578,[],i/image/M00/71/9D/CgpEMlm3izaARpphAAAZkNkeH5I1...,清博津商,15-50人,2019-11-13 15:55:55,0,和平区,不限,NaN,不需要融资,运营|编辑|客服类,2019-11-13,NaN,NaN,overSevenDays,"数据服务,教育",[],0,1,兼职,2019-11-13 15:55:45,39.135395,1号线_二纬路;2号线_建国道;2号线_东南角;2号线_鼓楼,117.189960,0,NaN,大数据行业优势，工作氛围好,6579749,"['审核', '内容审核', '信息']",审核实习生（春节短期）,NaN,8913003,0,0,1k-2k,0,审核,"['审核', '内容审核', '信息']",东南角,2号线,信息审核,应届毕业生,NaN
3136,NaN,天津,上海礼紫股权投资基金管理有限公司,264817,[],i/image2/M00/04/07/CgotOVnDRlSADajmAABbasES-5U...,礼紫股权投资,500-2000人,2019-11-04 09:02:04,0,河北区,不限,NaN,未融资,运营|编辑|客服类,2019-11-04,NaN,NaN,overSevenDays,金融,"['社交', '运营']",0,0,全职,2019-11-14 16:23:36,39.135753,2号线_天津站;2号线_建国道;2号线_东南角;3号线_天津站;3号线_津湾广场;3号线_和...,117.202045,0,NaN,旅游团建、内部晋升、待遇优厚、提供住宿,6270749,"['社交', '运营']",运营助理,NaN,9535048,0,0,6k-8k,0,运营,['运营'],天津站,3号线,运营助理|专员,不限,NaN
3137,['中北'],天津,北京达佳互联信息技术有限公司,1880,"['股票期权', '弹性工作', '定期体检', '岗位晋升']",i/image2/M00/26/EF/CgoB5lof5AuADFWJAAAK3VU74GU...,快手,2000人以上,2019-12-03 10:16:28,0,西青区,本科,NaN,D轮及以上,运营|编辑|客服类,10:16发布,NaN,NaN,today,文娱丨内容,[],0,0,全职,2019-12-03 10:01:37,39.126226,NaN,117.091798,0,NaN,"五险一金,绩效奖金,餐补,房补",5051153,"['运营', '用户运营']",运营编辑团队leader,NaN,10506720,0,0,8k-15k,0,运营,"['运营', '用户运营']",NaN,NaN,用户运营,3-5年,NaN
3138,"['南营门', '南市', '海光寺']",天津,北京河狸家信息技术有限公司,25854,"['高配福利', '弹性时间', 'BAT￥', '逗逼伙伴']",i/image/M00/51/CD/CgpFT1l7CNyAB5eqAAA-kan1PAk4...,河狸家,500-2000人,2019-12-02 17:03:54,0,和平区,不限,NaN,C轮,运营|编辑|客服类,1天前发布,NaN,NaN,today,移动互联网,"['电商', '商家运营']",0,0,全职,2019-12-03 11:25:10,39.120331,1号线_二纬路;1号线_海光寺;1号线_鞍山道;1号线_营口道;3号线_营口道;3号线_西康路,117.184059,0,NaN,五险一金,6624059,"['电商', '商家运营']",商家运营-天津,NaN,14725914,3,1,6k-8k,0,运营,['商家运营'],西康路,3号线,商家运营,不限,NaN
3139,"['南营门', '南市', '海光寺']",天津,北京河狸家信息技术有限公司,25854,"['高配福利', '弹性时间', 'BAT￥', '逗逼伙伴']",i/image/M00/51/CD/CgpFT1l7CNyAB5eqAAA-kan1PAk4...,河狸家,500-2000人,2019-12-02 17:03:56,0,和平区,本科,NaN,C轮,运营|编辑|客服类,1天前发布,NaN,NaN,today,移动互联网,['移动互联网'],0,1,全职,2019-12-03 11:25:10,39.120331,1号线_二纬路;1号线_海光寺;1号线_鞍山道;1号线_营口道;3号线_营口道;3号线_西康路,117.184059,0,NaN,转正机会,6633633,['移动互联网'],运营实习生-天津,NaN,14725914,3,1,2k-4k,0,运营,[],西康路,3号线,运营助理|专员,应届毕业生,NaN

In [134]:
city_df = sales_df.drop_duplicates('city') 
city_df

,no,_id,adWord,appShow,approve,businessZones,city,companyFullName,companyId,companyLabelList,companyLogo,companyShortName,companySize,createTime,deliver,district,education,explain,financeStage,firstType,formatCreateTime,gradeDescription,hitags,imState,industryField,industryLables,isHotHire,isSchoolJob,jobNature,lastLogin,latitude,linestaion,longitude,pcShow,plus,positionAdvantage,positionId,positionLables,positionName,promotionScoreExplain,publisherId,resumeProcessDay,resumeProcessRate,salary,score,secondType,skillLables,stationname,subwayline,thirdType,workYear,job_detail
0,0,5de5e75734e608e63026c1bc,9,0,1,['亦庄'],北京,达疆网络科技（上海）有限公司,32836,"['年底双薪', '绩效奖金', '岗位晋升', '定期体检']",i/image2/M01/AF/7F/CgotOV3kqOqAZvWrAAAaonXDCck...,达达-京东到家,2000人以上,2019-12-02 20:38:25,0,大兴区,本科,NaN,D轮及以上,产品|需求|项目类,1天前发布,NaN,"['免费班车', '新婚红包', '定期调薪', '电脑补贴', '生子红包', '地铁周边...",today,消费生活,[],0,0,全职,2019-12-03 10:33:07,39.795747,亦庄线_万源街;亦庄线_荣京东街,116.510442,0,NaN,成长快、氛围好、领导好,6638350,"['BI', '数据分析']",数据分析岗,NaN,7855636,1,100,15k-30k,0,数据分析,"['BI', '数据分析']",万源街,亦庄线,BI,3-5年,"1 、负责o2o电商日常运营数据的统计, 监控, 梳理指标体系；||2、基于海量用户行为数据..."
450,450,5de5e7b234e608e63026c37e,9,0,1,NaN,上海,上海钧正网络科技有限公司,164989,"['绩效奖金', '年底双薪', '股票期权', '交通补助']",i/image2/M01/8F/4E/CgotOVugmPOAedPRAABJpeXWTRg...,哈啰出行,2000人以上,2019-11-26 10:32:05,0,闵行区,本科,NaN,D轮及以上,产品|需求|项目类,2019-11-26,NaN,"['购买社保', '一年调薪2次', '5险1金']",today,"移动互联网,硬件",[],0,0,全职,2019-12-03 11:12:00,31.122760,NaN,121.363974,0,NaN,"弹性工作,股票期权,晋升空间大",6488246,['数据分析'],资深数据分析（单车）(J10286),NaN,5714360,1,57,20k-40k,0,数据分析,['数据分析'],NaN,NaN,数据分析,3-5年,NaN
815,815,5de5e80a34e608e63026c4eb,0,0,0,"['新安', '翻身路']",深圳,深圳市中数智云信息技术有限公司,534791,[],images/logo_default.png,中数智云,50-150人,2019-12-03 11:19:39,0,宝安区,大专,NaN,未融资,产品|需求|项目类,11:19发布,NaN,NaN,today,"移动互联网,信息安全","['移动互联网', '大数据']",0,0,全职,2019-12-03 11:19:31,22.557655,1号线/罗宝线_新安;1号线/罗宝线_宝安中心;1号线/罗宝线_宝体;5号线/环中线_宝华;...,113.894613,0,NaN,公司福利待遇好，转正后购买五险一金。,6651970,"['移动互联网', '大数据']",数据分析,NaN,6508312,1,1,6k-10k,0,数据分析,[],翻身,5号线/环中线,数据分析,不限,任职资格：||1、逻辑分析能力强，对数据敏感，良好的学习能力和抗压能力；||2、可熟练使用E...
1075,1075,5de5e84534e608e63026c5ef,0,0,1,"['天河公园', '东圃', '棠下']",广州,亿达信息技术（深圳）有限公司,168557,[],i/image/M00/91/41/Cgp3O1iX5ryAG-T-AAAOmZ4LcU44...,YIDATEC,2000人以上,2019-12-03 12:23:53,0,天河区,本科,NaN,不需要融资,产品|需求|项目类,12:23发布,NaN,"['购买社保', '免费休闲游', '试用期上公积金', '免费下午茶', '免费体检', ...",today,"移动互联网,游戏","['电商', '数据运营', '商业', 'BI', 'SQL']",0,0,全职,2019-12-03 11:59:45,23.125693,5号线_科韵路,113.374137,0,NaN,powerbi，数据分析，,6651977,"['电商', '数据运营', '商业', 'BI', 'SQL']",数据分析,NaN,10417916,0,0,10k-20k,0,数据分析,"['数据运营', '商业', 'BI', 'SQL']",科韵路,5号线,产品|需求|项目类,3-5年,"岗位要求：||1、熟悉数据库技术，能够编写查询(SQL, Excel宏，MS Access)..."
1253,1253,5de5e86d34e608e63026c6a1,0,0,1,['仓前'],杭州,圆通速递有限公司,29211,"['技能培训', '免费班车', '专项奖金', '岗位晋升']",i/image2/M01/77/B8/CgoB5l1WDyGATNP5AAAlY3h88SY...,圆通,2000人以上,2019-12-03 11:18:42,0,余杭区,大专,NaN,上市公司,产品|需求|项目类,11:18发布,NaN,NaN,disabled,物流丨运输,[],0,0,全职,2019-12-03 10:04:05,30.282952,NaN,120.009765,0,NaN,五险一金,6467417,"['BI', '数据运营']",数据分析,NaN,6392394,1,100,8k-15k,0,数据分析,"['BI', '数据分析', '数据运营']",NaN,NaN,数据分析,3-5年,岗位职责：||1、数据营运工作，运单数据、卸车数据、成本结算数据、时效数据的常见维度分析；内...
1371,1371,5de5e88c34e608e63026c717,0,0,1,NaN,成都,北京国研网信息股份有限公司,374777,"['专项奖金', '年终分红', '定期体检', '弹性工作']",i/image2/M00/49/53/CgotOVrj1CeAVHM7AAAMXlKKWzA...,国研网,150-500人,2019-12-03 10:39:01,0,高新区,本科,NaN,上市公司,产品|需求|项目类,10:39发布,NaN,NaN,today,"企业服务,数据服务",[],0,0,全职,2019-12-03 10:37:12,30.559578,1号线(五根松)_世纪城;1号线(五根松)_锦城广场;1号线(科学城)_世纪城;1号线(科学...,104.058157,0,NaN,"超长年假,弹性工作,定期体检,六险一金",6545299,[],数据分析,NaN,10694398,3,100,4k-7k,0,数据分析,['数据分析'],锦城广场,1号线(五根松),数据分析,不限,工作内容：||1.运用EXCEL及其插件功能进行数据编辑后台的数据格式规范化，并上传至数据库...
1821,1821,5de5e8ea34e608e63026c8d9,0,0,0,['奥体'],南京,德达医药技术（南京）有限公司,117421111,[],images/logo_default.png,德达医药,50-150人,2019-12-02 13:24:25,0,建邺区,不限,NaN,不需要融资,开发|测试|运维类,1天前发布,NaN,NaN,today,数据服务,[],0,0,全职,2019-12-03 09:33:35,31.983231,2号线_雨润大街;10号线_小行;10号线_中胜,118.730509,0,NaN,发展有前景、福利待遇好,6656999,['数据分析'],数据分析师,NaN,15460981,0,0,5k-10k,0,数据开发,['数据分析'],小行,2号线,数据分析,1年以下,岗位职责：
2063,2063,5de5e91d34e608e63026c9cb,0,0,1,NaN,武汉,武汉宁美国度科技有限公司,91471,"['节日礼物', '技能培训', '年度旅游', '岗位晋升']",i/image/M00/5E/20/CgqKkVfqKVaAExoKAACXPhapWiA8...,宁美国度,500-2000人,2019-12-02 11:37:43,0,江夏区,大专,NaN,B轮,产品|需求|项目类,1天前发布,NaN,NaN,today,"电商,硬件",['电商'],0,0,全职,2019-12-03 09:50:39,30.463697,2号线_金融港北,114.424530,0,NaN,"五险一金,平台广,领导好",6455238,['电商'],数据分析,NaN,6191355,2,100,4k-7k,0,数据分析,['数据分析'],金融港北,2号线,数据分析,1-3年,岗位职责：||1.从生意参谋、赤兔名品、生意经提取数据完成天猫及C店竞品表、月度计划跟进表|...
2513,2513,5de5e97f34e608e63026cb8d,0,0,1,['高新路'],西安,北京微观商学网络科技股份有限公司,457812,[],i/image2/M01/9C/CD/CgoB5lvJPlqAUaIbAAD8OqQ2Zgw...,微观学社,150-500人,2019-12-01 11:42:07,0,高新技术产业开发区,本科,NaN,上市公司,产品|需求|项目类,2天前发布,NaN,NaN,today,"消费生活,教育",['教育'],0,0,全职,2019-12-03 11:05:27,34.239045,3号线_延平门;3号线_科技路,108.900005,0,NaN,梦想正青春，激情正能量，快乐正当时！,6655340,['教育'],数据分析,NaN,7297736,0,11,6k-12k,0,数据分析,['数据分析'],科技路,3号线,数据分析,3-5年,统计核算分析专员||岗位职责：||1. 负责快速相应业务方的数据需求，根据具体业务场景及其...
2682,2682,5de5e9ab34e608e63026cc36,0,0,1,NaN,厦门,厦门美图之家科技有限公司,23291,"['节日礼物', '与大牛共事', '福利健全', '五险一金']",i/image/M00/92/A6/CgpEMlsE076AYQiyAAAJ0Mnr3H41...,美图公司,2000人以上,2019-12-03 09:51:25,0,思明区,本科,NaN,上市公司,产品|需求|项目类,09:51发布,NaN,NaN,today,硬件,[],0,0,全职,2019-12-03 10:29:37,24.489147,NaN,118.180647,0,NaN,"弹性工作,海外团队,海外市场",6379261,"['可视化', '数据分析', 'SQL']",数据分析师,NaN,6274508,1,100,8k-16k,0,数据分析,"['可视化', '数据分析', 'SQL']",NaN,NaN,数据分析,1-3年,美图的数据科学团队是⼀个数据驱动决策的团队。我们正在寻找一位合格的具有大数据分析和技术经验的...
2815,2815,5de5e9ca34e608e63026ccbb,0,0,1,"['咸嘉湖', '西湖', '枫林一路']",长沙,北京五八到家信息技术有限公司,41823,"['节日礼物', '技能培训', '股票期权', '免费班车']",i/image2/M01/7C/86/CgoB5lt0B-GAdM5iAAAUaKBOGWA...,58到家,2000人以上,2019-12-02 19:48:13,0,岳麓区,本科,NaN,D轮及以上,产品|需求|项目类,1天前发布,NaN,"['试用期上社保', '试用期上公积金', '免费健身房', '免费下午茶', '公司氛围好...",today,消费生活,"['电商', '移动互联网', '数据分析', 'SQL', '数据库', 'BI']",0,0,全职,2019-12-03 11:02:34,28.203987,2号线_金星路;2号线_西湖公园;2号线_溁湾镇,112.940299,0,NaN,"公司靠谱,产品靠谱,领导靠谱,团队靠谱",6530754,"['电商', '移动互联网', '数据分析', 'SQL', '数据库', 'BI']",（高级）数据分析师,NaN,3574232,2,100,10k-20k,0,数据分析,"['数据分析', 'SQL', '数据库', 'BI']",西湖公园,2号线,数据分析,3-5年,职位职责：||1、深入了解58到家业务和产品逻辑，针对业务特点和规律，针对性建立适合的分析体...
2967,2967,5de5e9f034e608e63026cd53,0,0,1,NaN,苏州,苏州玩蜂软件科技有限公司,642951,[],i/image2/M01/A1/7A/CgoB5l248-CARMerAAAm43xxJ74...,玩蜂,500-2000人,2019-12-03 11:22:49,0,工业园区,本科,NaN,未融资,产品|需求|项目类,11:22发布,NaN,NaN,today,游戏,"['游戏', 'SQL', '数据分析']",0,1,实习,2019-12-03 11:21:49,31.258186,2号线_月亮湾;2号线_松涛街,120.738736,0,NaN,定期体检、六险一金、带薪年假、员工旅游等,6660545,"['游戏', 'SQL', '数据分析']",数据分析实习,NaN,13380401,1,33,4k-6k,0,数据分析,"['SQL', '数据分析']",月亮湾,2号线,产品|需求|项目类,应届毕业生,"岗位职责：||1. 帮助游戏业务的各个环节(研发,运营,发行)提供决策需要的数据..."
3065,3065,5de5ea0734e608e63026cdb5,0,0,1,['中北'],天津,北京达佳互联信息技术有限公司,1880,"['股票期权', '弹性工作', '定期体检', '岗位晋升']",i/image2/M00/26/EF/CgoB5lof5AuADFWJAAAK3VU74GU...,快手,2000人以上,2019-12-03 10:16:29,0,西青区,本科,NaN,D轮及以上,产品|需求|项目类,10:16发布,NaN,NaN,today,文娱丨内容,"['视频', '直播', '数据分析', '数据运营', '可视化']",0,0,全职,2019-12-03 10:01:37,39.126226,NaN,117.091798,0,NaN,福利待遇 平台发展 公司规模,5605166,"['视频', '直播', '数据分析', '数据运营', '可视化']",数据分析专员,NaN,10506720,0,0,8k-10k,0,数据分析,"['数据分析', '数据运营', '可视化']",NaN,NaN,数据分析,1-3年,岗位职责：||1、负责团队业务、人员指标建立及数据体系搭建，以衡量团队运营能力；|| 2...

In [135]:
city_df.city.value_counts()

北京    1
上海    1
深圳    1
广州    1
杭州    1
成都    1
南京    1
武汉    1
西安    1
厦门    1
长沙    1
苏州    1
天津    1
Name: city, dtype: int64

In [136]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3140 entries, 0 to 3139
Data columns (total 52 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   no                     3140 non-null   int64
 1   _id                    3140 non-null   object
 2   adWord                 3140 non-null   int64
 3   appShow                3140 non-null   int64
 4   approve                3140 non-null   int64
 5   businessZones          1544 non-null   object
 6   city                   3140 non-null   object
 7   companyFullName        3140 non-null   object
 8   companyId              3140 non-null   int64
 9   companyLabelList       3140 non-null   object
 10  companyLogo            3139 non-null   object
 11  companyShortName       3140 non-null   object
 12  companySize            3140 non-null   object
 13  createTime             3140 non-null   object
 14  deliver                3140 non-null   int64
 15  district               3133 non-null   object
 16  education              3140 non-null   object
 17  explain                0 non-null      float64
 18  financeStage           3140 non-null   object
 19  firstType              3140 non-null   object
 20  formatCreateTime       3140 non-null   object
 21  gradeDescription       0 non-null      float64
 22  hitags                 260 non-null    object
 23  imState                3140 non-null   object
 24  industryField          3140 non-null   object
 25  industryLables         3140 non-null   object
 26  isHotHire              3140 non-null   int64
 27  isSchoolJob            3140 non-null   int64
 28  jobNature              3140 non-null   object
 29  lastLogin              3140 non-null   object
 30  latitude               3133 non-null   float64
 31  linestaion             2403 non-null   object
 32  longitude              3133 non-null   float64
 33  pcShow                 3140 non-null   int64
 34  plus                   0 non-null      float64
 35  positionAdvantage      3140 non-null   object
 36  positionId             3140 non-null   int64
 37  positionLables         3140 non-null   object
 38  positionName           3140 non-null   object
 39  promotionScoreExplain  0 non-null      float64
 40  publisherId            3140 non-null   int64
 41  resumeProcessDay       3140 non-null   int64
 42  resumeProcessRate      3140 non-null   int64
 43  salary                 3140 non-null   object
 44  score                  3140 non-null   int64
 45  secondType             3140 non-null   object
 46  skillLables            3140 non-null   object
 47  stationname            2403 non-null   object
 48  subwayline             2403 non-null   object
 49  thirdType              3140 non-null   object
 50  workYear               3140 non-null   object
 51  job_detail             1513 non-null   object
dtypes: float64(6), int64(14), object(32)
memory usage: 1.2+ MB

In [137]:
sales_df['createTime'] = pd.to_datetime(sales_df.createTime)
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3140 entries, 0 to 3139
Data columns (total 52 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   no                     3140 non-null   int64
 1   _id                    3140 non-null   object
 2   adWord                 3140 non-null   int64
 3   appShow                3140 non-null   int64
 4   approve                3140 non-null   int64
 5   businessZones          1544 non-null   object
 6   city                   3140 non-null   object
 7   companyFullName        3140 non-null   object
 8   companyId              3140 non-null   int64
 9   companyLabelList       3140 non-null   object
 10  companyLogo            3139 non-null   object
 11  companyShortName       3140 non-null   object
 12  companySize            3140 non-null   object
 13  createTime             3140 non-null   datetime64[ns]
 14  deliver                3140 non-null   int64
 15  district               3133 non-null   object
 16  education              3140 non-null   object
 17  explain                0 non-null      float64
 18  financeStage           3140 non-null   object
 19  firstType              3140 non-null   object
 20  formatCreateTime       3140 non-null   object
 21  gradeDescription       0 non-null      float64
 22  hitags                 260 non-null    object
 23  imState                3140 non-null   object
 24  industryField          3140 non-null   object
 25  industryLables         3140 non-null   object
 26  isHotHire              3140 non-null   int64
 27  isSchoolJob            3140 non-null   int64
 28  jobNature              3140 non-null   object
 29  lastLogin              3140 non-null   object
 30  latitude               3133 non-null   float64
 31  linestaion             2403 non-null   object
 32  longitude              3133 non-null   float64
 33  pcShow                 3140 non-null   int64
 34  plus                   0 non-null      float64
 35  positionAdvantage      3140 non-null   object
 36  positionId             3140 non-null   int64
 37  positionLables         3140 non-null   object
 38  positionName           3140 non-null   object
 39  promotionScoreExplain  0 non-null      float64
 40  publisherId            3140 non-null   int64
 41  resumeProcessDay       3140 non-null   int64
 42  resumeProcessRate      3140 non-null   int64
 43  salary                 3140 non-null   object
 44  score                  3140 non-null   int64
 45  secondType             3140 non-null   object
 46  skillLables            3140 non-null   object
 47  stationname            2403 non-null   object
 48  subwayline             2403 non-null   object
 49  thirdType              3140 non-null   object
 50  workYear               3140 non-null   object
 51  job_detail             1513 non-null   object
dtypes: datetime64[ns](1), float64(6), int64(14), object(31)
memory usage: 1.2+ MB

In [138]:
sales_df['year'] = sales_df.createTime.dt.year
sales_df['month'] = sales_df.createTime.dt.month
sales_df['day'] = sales_df.createTime.dt.day
sales_df

,no,_id,adWord,appShow,approve,businessZones,city,companyFullName,companyId,companyLabelList,companyLogo,companyShortName,companySize,createTime,deliver,district,education,explain,financeStage,firstType,formatCreateTime,gradeDescription,hitags,imState,industryField,industryLables,isHotHire,isSchoolJob,jobNature,lastLogin,latitude,linestaion,longitude,pcShow,plus,positionAdvantage,positionId,positionLables,positionName,promotionScoreExplain,publisherId,resumeProcessDay,resumeProcessRate,salary,score,secondType,skillLables,stationname,subwayline,thirdType,workYear,job_detail,year,month,day
0,0,5de5e75734e608e63026c1bc,9,0,1,['亦庄'],北京,达疆网络科技（上海）有限公司,32836,"['年底双薪', '绩效奖金', '岗位晋升', '定期体检']",i/image2/M01/AF/7F/CgotOV3kqOqAZvWrAAAaonXDCck...,达达-京东到家,2000人以上,2019-12-02 20:38:25,0,大兴区,本科,NaN,D轮及以上,产品|需求|项目类,1天前发布,NaN,"['免费班车', '新婚红包', '定期调薪', '电脑补贴', '生子红包', '地铁周边...",today,消费生活,[],0,0,全职,2019-12-03 10:33:07,39.795747,亦庄线_万源街;亦庄线_荣京东街,116.510442,0,NaN,成长快、氛围好、领导好,6638350,"['BI', '数据分析']",数据分析岗,NaN,7855636,1,100,15k-30k,0,数据分析,"['BI', '数据分析']",万源街,亦庄线,BI,3-5年,"1 、负责o2o电商日常运营数据的统计, 监控, 梳理指标体系；||2、基于海量用户行为数据...",2019,12,2
1,1,5de5e75734e608e63026c1bd,0,0,1,NaN,北京,北京音娱时光科技有限公司,286568,"['年底双薪', '绩效奖金', '带薪年假', '免费健身']",i/image2/M01/8B/9A/CgotOV15uyKAMCL3AAAvAzXIrFw...,音娱时光,50-150人,2019-12-03 11:23:35,0,海淀区,本科,NaN,A轮,产品|需求|项目类,11:23发布,NaN,NaN,today,移动互联网,[],0,0,全职,2019-12-03 11:23:38,39.977555,10号线_知春路;10号线_西土城;13号线_大钟寺;13号线_知春路,116.352145,0,NaN,技术大牛多；免费餐饮；氛围好；,6263661,"['SQL', 'BI', 'SPSS']",数据分析,NaN,12147286,1,100,10k-18k,0,数据分析,"['SQL', 'BI', 'SPSS']",知春路,10号线,数据分析,1-3年,职责描述：||1. 完善业务数据监控体系，进行新功能指标埋点逻辑设计，搭建分析框架，...,2019,12,3
2,2,5de5e75734e608e63026c1be,0,0,1,['西北旺'],北京,北京千喜鹤餐饮管理有限公司,278964,[],i/image2/M00/15/70/CgotOVn0PGWACXyxAAA4aF7GFgk...,千喜鹤,2000人以上,2019-12-03 10:35:09,0,海淀区,本科,NaN,未融资,产品|需求|项目类,10:35发布,NaN,NaN,today,消费生活,"['移动互联网', '视频', 'SQL']",0,0,全职,2019-12-03 11:08:34,40.066757,16号线_永丰;16号线_永丰南,116.249581,0,NaN,福利好，五险一金，住房补助,6660141,"['移动互联网', '视频', 'SQL']",数据分析,NaN,6436858,0,0,20k-30k,0,数据分析,"['SQL', '数据分析']",永丰,16号线,数据分析,3-5年,工作职责：||1.负责根据业务目标，制定并执行产品或业务的运营数据监控与分析机制。||2.完...,2019,12,3
3,3,5de5e75734e608e63026c1bf,0,0,0,NaN,北京,吉林省海生电子商务有限公司,399744,[],images/logo_default.png,吉林省海生电子商务有限公司,少于15人,2019-12-03 10:35:56,0,朝阳区,本科,NaN,不需要融资,产品|需求|项目类,10:35发布,NaN,NaN,today,电商,['其他'],0,0,全职,2019-12-03 10:30:37,40.042254,NaN,116.291027,0,NaN,五险一金,6660148,['其他'],数据分析,NaN,10978749,0,0,33k-50k,0,数据分析,['数据分析'],NaN,NaN,数据分析,3-5年,1.基于对业务的支持和理解，搭建出可以准确反映业务运作状况的数据指标体系；||2.商业嗅觉灵...,2019,12,3
4,4,5de5e75734e608e63026c1c0,0,0,0,"['大望路', '建外大街', '南磨房']",北京,韦博网讯科技（北京）有限公司,580170,[],i/image2/M01/41/6C/CgoB5lz3eJGAYy2MAACd7SzHgKw...,WPIC,50-150人,2019-12-03 12:10:22,0,朝阳区,本科,NaN,未融资,产品|需求|项目类,12:10发布,NaN,NaN,today,"电商,软件开发",['电商'],0,0,全职,2019-12-03 11:54:22,39.907088,1号线_国贸;1号线_大望路;10号线_国贸;14号线东段_大望路,116.476390,0,NaN,待遇优厚 ，良好的发展前景,6590101,['电商'],数据分析,NaN,13213101,0,0,10k-15k,0,数据分析,['数据分析'],国贸,1号线,产品|需求|项目类,1-3年,职责描述：||1. 调研工作以客户需求为主导；||2. 根据市场调研计划，进行市场信息的收集...,2019,12,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,3135,5de5ea1134e608e63026cdfb,0,0,1,"['和平路', '荣业大街']",天津,清博津商（天津）教育科技有限公司,260578,[],i/image/M00/71/9D/CgpEMlm3izaARpphAAAZkNkeH5I1...,清博津商,15-50人,2019-11-13 15:55:55,0,和平区,不限,NaN,不需要融资,运营|编辑|客服类,2019-11-13,NaN,NaN,overSevenDays,"数据服务,教育",[],0,1,兼职,2019-11-13 15:55:45,39.135395,1号线_二纬路;2号线_建国道;2号线_东南角;2号线_鼓楼,117.189960,0,NaN,大数据行业优势，工作氛围好,6579749,"['审核', '内容审核', '信息']",审核实习生（春节短期）,NaN,8913003,0,0,1k-2k,0,审核,"['审核', '内容审核', '信息']",东南角,2号线,信息审核,应届毕业生,NaN,2019,11,13
3136,3136,5de5ea1134e608e63026cdfc,0,0,1,NaN,天津,上海礼紫股权投资基金管理有限公司,264817,[],i/image2/M00/04/07/CgotOVnDRlSADajmAABbasES-5U...,礼紫股权投资,500-2000人,2019-11-04 09:02:04,0,河北区,不限,NaN,未融资,运营|编辑|客服类,2019-11-04,NaN,NaN,overSevenDays,金融,"['社交', '运营']",0,0,全职,2019-11-14 16:23:36,39.135753,2号线_天津站;2号线_建国道;2号线_东南角;3号线_天津站;3号线_津湾广场;3号线_和...,117.202045,0,NaN,旅游团建、内部晋升、待遇优厚、提供住宿,6270749,"['社交', '运营']",运营助理,NaN,9535048,0,0,6k-8k,0,运营,['运营'],天津站,3号线,运营助理|专员,不限,NaN,2019,11,4
3137,3137,5de5ea1134e608e63026cdfd,0,0,1,['中北'],天津,北京达佳互联信息技术有限公司,1880,"['股票期权', '弹性工作', '定期体检', '岗位晋升']",i/image2/M00/26/EF/CgoB5lof5AuADFWJAAAK3VU74GU...,快手,2000人以上,2019-12-03 10:16:28,0,西青区,本科,NaN,D轮及以上,运营|编辑|客服类,10:16发布,NaN,NaN,today,文娱丨内容,[],0,0,全职,2019-12-03 10:01:37,39.126226,NaN,117.091798,0,NaN,"五险一金,绩效奖金,餐补,房补",5051153,"['运营', '用户运营']",运营编辑团队leader,NaN,10506720,0,0,8k-15k,0,运营,"['运营', '用户运营']",NaN,NaN,用户运营,3-5年,NaN,2019,12,3
3138,3138,5de5ea1134e608e63026cdfe,0,0,1,"['南营门', '南市', '海光寺']",天津,北京河狸家信息技术有限公司,25854,"['高配福利', '弹性时间', 'BAT￥', '逗逼伙伴']",i/image/M00/51/CD/CgpFT1l7CNyAB5eqAAA-kan1PAk4...,河狸家,500-2000人,2019-12-02 17:03:54,0,和平区,不限,NaN,C轮,运营|编辑|客服类,1天前发布,NaN,NaN,today,移动互联网,"['电商', '商家运营']",0,0,全职,2019-12-03 11:25:10,39.120331,1号线_二纬路;1号线_海光寺;1号线_鞍山道;1号线_营口道;3号线_营口道;3号线_西康路,117.184059,0,NaN,五险一金,6624059,"['电商', '商家运营']",商家运营-天津,NaN,14725914,3,1,6k-8k,0,运营,['商家运营'],西康路,3号线,商家运营,不限,NaN,2019,12,2
3139,3139,5de5ea1134e608e63026cdff,0,0,1,"['南营门', '南市', '海光寺']",天津,北京河狸家信息技术有限公司,25854,"['高配福利', '弹性时间', 'BAT￥', '逗逼伙伴']",i/image/M00/51/CD/CgpFT1l7CNyAB5eqAAA-kan1PAk4...,河狸家,500-2000人,2019-12-02 17:03:56,0,和平区,本科,NaN,C轮,运营|编辑|客服类,1天前发布,NaN,NaN,today,移动互联网,['移动互联网'],0,1,全职,2019-12-03 11:25:10,39.120331,1号线_二纬路;1号线_海光寺;1号线_鞍山道;1号线_营口道;3号线_营口道;3号线_西康路,117.184059,0,NaN,转正机会,6633633,['移动互联网'],运营实习生-天津,NaN,14725914,3,1,2k-4k,0,运营,[],西康路,3号线,运营助理|专员,应届毕业生,NaN,2019,12,2

In [139]:
sales_df['imState'] = sales_df.imState.str.capitalize()
sales_df

,no,_id,adWord,appShow,approve,businessZones,city,companyFullName,companyId,companyLabelList,companyLogo,companyShortName,companySize,createTime,deliver,district,education,explain,financeStage,firstType,formatCreateTime,gradeDescription,hitags,imState,industryField,industryLables,isHotHire,isSchoolJob,jobNature,lastLogin,latitude,linestaion,longitude,pcShow,plus,positionAdvantage,positionId,positionLables,positionName,promotionScoreExplain,publisherId,resumeProcessDay,resumeProcessRate,salary,score,secondType,skillLables,stationname,subwayline,thirdType,workYear,job_detail,year,month,day
0,0,5de5e75734e608e63026c1bc,9,0,1,['亦庄'],北京,达疆网络科技（上海）有限公司,32836,"['年底双薪', '绩效奖金', '岗位晋升', '定期体检']",i/image2/M01/AF/7F/CgotOV3kqOqAZvWrAAAaonXDCck...,达达-京东到家,2000人以上,2019-12-02 20:38:25,0,大兴区,本科,NaN,D轮及以上,产品|需求|项目类,1天前发布,NaN,"['免费班车', '新婚红包', '定期调薪', '电脑补贴', '生子红包', '地铁周边...",Today,消费生活,[],0,0,全职,2019-12-03 10:33:07,39.795747,亦庄线_万源街;亦庄线_荣京东街,116.510442,0,NaN,成长快、氛围好、领导好,6638350,"['BI', '数据分析']",数据分析岗,NaN,7855636,1,100,15k-30k,0,数据分析,"['BI', '数据分析']",万源街,亦庄线,BI,3-5年,"1 、负责o2o电商日常运营数据的统计, 监控, 梳理指标体系；||2、基于海量用户行为数据...",2019,12,2
1,1,5de5e75734e608e63026c1bd,0,0,1,NaN,北京,北京音娱时光科技有限公司,286568,"['年底双薪', '绩效奖金', '带薪年假', '免费健身']",i/image2/M01/8B/9A/CgotOV15uyKAMCL3AAAvAzXIrFw...,音娱时光,50-150人,2019-12-03 11:23:35,0,海淀区,本科,NaN,A轮,产品|需求|项目类,11:23发布,NaN,NaN,Today,移动互联网,[],0,0,全职,2019-12-03 11:23:38,39.977555,10号线_知春路;10号线_西土城;13号线_大钟寺;13号线_知春路,116.352145,0,NaN,技术大牛多；免费餐饮；氛围好；,6263661,"['SQL', 'BI', 'SPSS']",数据分析,NaN,12147286,1,100,10k-18k,0,数据分析,"['SQL', 'BI', 'SPSS']",知春路,10号线,数据分析,1-3年,职责描述：||1. 完善业务数据监控体系，进行新功能指标埋点逻辑设计，搭建分析框架，...,2019,12,3
2,2,5de5e75734e608e63026c1be,0,0,1,['西北旺'],北京,北京千喜鹤餐饮管理有限公司,278964,[],i/image2/M00/15/70/CgotOVn0PGWACXyxAAA4aF7GFgk...,千喜鹤,2000人以上,2019-12-03 10:35:09,0,海淀区,本科,NaN,未融资,产品|需求|项目类,10:35发布,NaN,NaN,Today,消费生活,"['移动互联网', '视频', 'SQL']",0,0,全职,2019-12-03 11:08:34,40.066757,16号线_永丰;16号线_永丰南,116.249581,0,NaN,福利好，五险一金，住房补助,6660141,"['移动互联网', '视频', 'SQL']",数据分析,NaN,6436858,0,0,20k-30k,0,数据分析,"['SQL', '数据分析']",永丰,16号线,数据分析,3-5年,工作职责：||1.负责根据业务目标，制定并执行产品或业务的运营数据监控与分析机制。||2.完...,2019,12,3
3,3,5de5e75734e608e63026c1bf,0,0,0,NaN,北京,吉林省海生电子商务有限公司,399744,[],images/logo_default.png,吉林省海生电子商务有限公司,少于15人,2019-12-03 10:35:56,0,朝阳区,本科,NaN,不需要融资,产品|需求|项目类,10:35发布,NaN,NaN,Today,电商,['其他'],0,0,全职,2019-12-03 10:30:37,40.042254,NaN,116.291027,0,NaN,五险一金,6660148,['其他'],数据分析,NaN,10978749,0,0,33k-50k,0,数据分析,['数据分析'],NaN,NaN,数据分析,3-5年,1.基于对业务的支持和理解，搭建出可以准确反映业务运作状况的数据指标体系；||2.商业嗅觉灵...,2019,12,3
4,4,5de5e75734e608e63026c1c0,0,0,0,"['大望路', '建外大街', '南磨房']",北京,韦博网讯科技（北京）有限公司,580170,[],i/image2/M01/41/6C/CgoB5lz3eJGAYy2MAACd7SzHgKw...,WPIC,50-150人,2019-12-03 12:10:22,0,朝阳区,本科,NaN,未融资,产品|需求|项目类,12:10发布,NaN,NaN,Today,"电商,软件开发",['电商'],0,0,全职,2019-12-03 11:54:22,39.907088,1号线_国贸;1号线_大望路;10号线_国贸;14号线东段_大望路,116.476390,0,NaN,待遇优厚 ，良好的发展前景,6590101,['电商'],数据分析,NaN,13213101,0,0,10k-15k,0,数据分析,['数据分析'],国贸,1号线,产品|需求|项目类,1-3年,职责描述：||1. 调研工作以客户需求为主导；||2. 根据市场调研计划，进行市场信息的收集...,2019,12,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,3135,5de5ea1134e608e63026cdfb,0,0,1,"['和平路', '荣业大街']",天津,清博津商（天津）教育科技有限公司,260578,[],i/image/M00/71/9D/CgpEMlm3izaARpphAAAZkNkeH5I1...,清博津商,15-50人,2019-11-13 15:55:55,0,和平区,不限,NaN,不需要融资,运营|编辑|客服类,2019-11-13,NaN,NaN,Oversevendays,"数据服务,教育",[],0,1,兼职,2019-11-13 15:55:45,39.135395,1号线_二纬路;2号线_建国道;2号线_东南角;2号线_鼓楼,117.189960,0,NaN,大数据行业优势，工作氛围好,6579749,"['审核', '内容审核', '信息']",审核实习生（春节短期）,NaN,8913003,0,0,1k-2k,0,审核,"['审核', '内容审核', '信息']",东南角,2号线,信息审核,应届毕业生,NaN,2019,11,13
3136,3136,5de5ea1134e608e63026cdfc,0,0,1,NaN,天津,上海礼紫股权投资基金管理有限公司,264817,[],i/image2/M00/04/07/CgotOVnDRlSADajmAABbasES-5U...,礼紫股权投资,500-2000人,2019-11-04 09:02:04,0,河北区,不限,NaN,未融资,运营|编辑|客服类,2019-11-04,NaN,NaN,Oversevendays,金融,"['社交', '运营']",0,0,全职,2019-11-14 16:23:36,39.135753,2号线_天津站;2号线_建国道;2号线_东南角;3号线_天津站;3号线_津湾广场;3号线_和...,117.202045,0,NaN,旅游团建、内部晋升、待遇优厚、提供住宿,6270749,"['社交', '运营']",运营助理,NaN,9535048,0,0,6k-8k,0,运营,['运营'],天津站,3号线,运营助理|专员,不限,NaN,2019,11,4
3137,3137,5de5ea1134e608e63026cdfd,0,0,1,['中北'],天津,北京达佳互联信息技术有限公司,1880,"['股票期权', '弹性工作', '定期体检', '岗位晋升']",i/image2/M00/26/EF/CgoB5lof5AuADFWJAAAK3VU74GU...,快手,2000人以上,2019-12-03 10:16:28,0,西青区,本科,NaN,D轮及以上,运营|编辑|客服类,10:16发布,NaN,NaN,Today,文娱丨内容,[],0,0,全职,2019-12-03 10:01:37,39.126226,NaN,117.091798,0,NaN,"五险一金,绩效奖金,餐补,房补",5051153,"['运营', '用户运营']",运营编辑团队leader,NaN,10506720,0,0,8k-15k,0,运营,"['运营', '用户运营']",NaN,NaN,用户运营,3-5年,NaN,2019,12,3
3138,3138,5de5ea1134e608e63026cdfe,0,0,1,"['南营门', '南市', '海光寺']",天津,北京河狸家信息技术有限公司,25854,"['高配福利', '弹性时间', 'BAT￥', '逗逼伙伴']",i/image/M00/51/CD/CgpFT1l7CNyAB5eqAAA-kan1PAk4...,河狸家,500-2000人,2019-12-02 17:03:54,0,和平区,不限,NaN,C轮,运营|编辑|客服类,1天前发布,NaN,NaN,Today,移动互联网,"['电商', '商家运营']",0,0,全职,2019-12-03 11:25:10,39.120331,1号线_二纬路;1号线_海光寺;1号线_鞍山道;1号线_营口道;3号线_营口道;3号线_西康路,117.184059,0,NaN,五险一金,6624059,"['电商', '商家运营']",商家运营-天津,NaN,14725914,3,1,6k-8k,0,运营,['商家运营'],西康路,3号线,商家运营,不限,NaN,2019,12,2
3139,3139,5de5ea1134e608e63026cdff,0,0,1,"['南营门', '南市', '海光寺']",天津,北京河狸家信息技术有限公司,25854,"['高配福利', '弹性时间', 'BAT￥', '逗逼伙伴']",i/image/M00/51/CD/CgpFT1l7CNyAB5eqAAA-kan1PAk4...,河狸家,500-2000人,2019-12-02 17:03:56,0,和平区,本科,NaN,C轮,运营|编辑|客服类,1天前发布,NaN,NaN,Today,移动互联网,['移动互联网'],0,1,全职,2019-12-03 11:25:10,39.120331,1号线_二纬路;1号线_海光寺;1号线_鞍山道;1号线_营口道;3号线_营口道;3号线_西康路,117.184059,0,NaN,转正机会,6633633,['移动互联网'],运营实习生-天津,NaN,14725914,3,1,2k-4k,0,运营,[],西康路,3号线,运营助理|专员,应届毕业生,NaN,2019,12,2