# 物流行业数据分析

https://blog.csdn.net/m0_47533564/article/details/124019271?ops_request_misc=%257B%2522request%255Fid%2522%253A%2522168272641316800188532475%2522%252C%2522scm%2522%253A%252220140713.130102334..%2522%257D&request_id=168272641316800188532475&biz_id=0&utm_medium=distribute.pc_search_result.none-task-blog-2~all~baidu_landing_v2~default-4-124019271-null-null.142^v86^control,239^v2^insert_chatgpt&utm_term=%E7%89%A9%E6%B5%81%E8%A1%8C%E4%B8%9A%E6%95%B0%E6%8D%AE%E5%88%86%E6%9E%90&spm=1018.2226.3001.4187

1.数据清洗（重复值、缺失值、异常值处理、格式调整）

In [56]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

plt.rcParams['font.sans-serif'] = ['SimHei']
plt.rcParams['axes.unicode_minus'] = False

In [57]:
data = pd.read_csv(r'C:\Users\wdl\Data-analysis\五大实战项目\2.物流数据分析\data\data_wuliu.csv', encoding='gbk')
data.head(5)

,订单号,订单行,销售时间,交货时间,货品交货状况,货品,货品用户反馈,销售区域,数量,销售金额
0,P096311,10,2016/7/30,2016/9/30,晚交货,货品3,质量合格,华北,2.00,"1052,75元"
1,P096826,10,2016/8/30,2016/10/30,按时交货,货品3,质量合格,华北,10.00,"11,50万元"
2,NaN,20,2016/8/30,2016/10/30,按时交货,货品3,质量合格,华北,10.00,"11,50万元"
3,P097435,10,2016/7/30,2016/9/30,按时交货,货品1,返修,华南,2.00,"6858,77元"
4,P097446,60,2016/11/26,2017/1/26,晚交货,货品3,质量合格,华北,15.00,"129,58元"

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1161 entries, 0 to 1160
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   订单号     1159 non-null   object
 1   订单行     1161 non-null   int64
 2   销售时间    1161 non-null   object
 3   交货时间    1161 non-null   object
 4   货品交货状况  1159 non-null   object
 5   货品      1161 non-null   object
 6   货品用户反馈  1161 non-null   object
 7   销售区域    1161 non-null   object
 8   数量      1157 non-null   float64
 9   销售金额    1161 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 90.8+ KB

In [59]:
data.dropna(axis=0, how='any', inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1153 entries, 0 to 1160
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   订单号     1153 non-null   object
 1   订单行     1153 non-null   int64
 2   销售时间    1153 non-null   object
 3   交货时间    1153 non-null   object
 4   货品交货状况  1153 non-null   object
 5   货品      1153 non-null   object
 6   货品用户反馈  1153 non-null   object
 7   销售区域    1153 non-null   object
 8   数量      1153 non-null   float64
 9   销售金额    1153 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 99.1+ KB

In [60]:
data.drop('订单行', axis=1, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1153 entries, 0 to 1160
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   订单号     1153 non-null   object
 1   销售时间    1153 non-null   object
 2   交货时间    1153 non-null   object
 3   货品交货状况  1153 non-null   object
 4   货品      1153 non-null   object
 5   货品用户反馈  1153 non-null   object
 6   销售区域    1153 non-null   object
 7   数量      1153 non-null   float64
 8   销售金额    1153 non-null   object
dtypes: float64(1), object(8)
memory usage: 90.1+ KB

In [61]:
data[data.duplicated()] # 查看重复值

,订单号,销售时间,交货时间,货品交货状况,货品,货品用户反馈,销售区域,数量,销售金额
12,P098065,2016/7/15,2016/10/15,按时交货,货品2,返修,华东,1.00,"22192,97元"
13,P098065,2016/8/10,2016/11/10,按时交货,货品1,质量合格,华南,1.00,"25723,04元"
14,P098823,2016/9/30,2016/11/30,按时交货,货品1,拒货,华南,2.00,"6934,75元"
15,P099725,2016/8/3,2016/11/3,晚交货,货品3,质量合格,华北,1.00,"1319,63元"
43,P114322,2016/11/22,2017/2/22,晚交货,货品2,拒货,马来西亚,1.00,"200,61元"
...,...,...,...,...,...,...,...,...,...
1094,P280755,2016/11/15,2017/2/15,按时交货,货品6,拒货,马来西亚,20.00,"27,74元"
1106,P283645,2016/12/30,2017/2/28,按时交货,货品4,质量合格,西北,2.00,"275,71元"
1110,P283742,2016/11/15,2017/2/15,按时交货,货品2,质量合格,华东,2.00,"4,17元"
1126,P287430,2016/12/20,2017/3/20,按时交货,货品2,质量合格,华东,1.00,"457,37元"
1134,P290202,2016/12/25,2017/2/25,按时交货,货品3,返修,华北,1.00,"55,11元"

In [62]:
data.drop_duplicates(keep='first',inplace=True) #删除重复记录
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1068 entries, 0 to 1160
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   订单号     1068 non-null   object
 1   销售时间    1068 non-null   object
 2   交货时间    1068 non-null   object
 3   货品交货状况  1068 non-null   object
 4   货品      1068 non-null   object
 5   货品用户反馈  1068 non-null   object
 6   销售区域    1068 non-null   object
 7   数量      1068 non-null   float64
 8   销售金额    1068 non-null   object
dtypes: float64(1), object(8)
memory usage: 83.4+ KB

In [63]:
data.head(3)

       订单号       销售时间        交货时间 货品交货状况   货品 货品用户反馈 销售区域    数量      销售金额
0  P096311  2016/7/30   2016/9/30    晚交货  货品3   质量合格   华北  2.00  1052,75元
1  P096826  2016/8/30  2016/10/30   按时交货  货品3   质量合格   华北 10.00   11,50万元
3  P097435  2016/7/30   2016/9/30   按时交货  货品1     返修   华南  2.00  6858,77元

In [64]:
# 转化格式
data[['销售时间', '交货时间']] = data[['销售时间', '交货时间']].apply(pd.to_datetime)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1068 entries, 0 to 1160
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   订单号     1068 non-null   object
 1   销售时间    1068 non-null   datetime64[ns]
 2   交货时间    1068 non-null   datetime64[ns]
 3   货品交货状况  1068 non-null   object
 4   货品      1068 non-null   object
 5   货品用户反馈  1068 non-null   object
 6   销售区域    1068 non-null   object
 7   数量      1068 non-null   float64
 8   销售金额    1068 non-null   object
dtypes: datetime64[ns](2), float64(1), object(6)
memory usage: 83.4+ KB

In [65]:
import re

def filter_sales_amount(x):
    x = re.sub(r',|元', '', x)
    if '万' in x:
        x = float(x[:-1]) * 10000
    else:
        x = float(x)
    return x

data['销售金额'] = data['销售金额'].apply(filter_sales_amount)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1068 entries, 0 to 1160
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   订单号     1068 non-null   object
 1   销售时间    1068 non-null   datetime64[ns]
 2   交货时间    1068 non-null   datetime64[ns]
 3   货品交货状况  1068 non-null   object
 4   货品      1068 non-null   object
 5   货品用户反馈  1068 non-null   object
 6   销售区域    1068 non-null   object
 7   数量      1068 non-null   float64
 8   销售金额    1068 non-null   float64
dtypes: datetime64[ns](2), float64(2), object(5)
memory usage: 83.4+ KB

In [66]:
pd.set_option('float_format', '{:.2f}'.format) # 设置小数点后两位               

data[['销售金额', '数量']].describe()

             销售金额       数量
count     1068.00  1068.00
mean    129527.14    79.68
std    1154253.65   610.09
min          0.00     1.00
25%       3090.50     1.00
50%       9624.50     1.00
75%      36340.25     4.00
max   32700000.00 11500.00

In [67]:
data = data[data.销售金额 != 0]
data

          订单号       销售时间       交货时间 货品交货状况   货品 货品用户反馈  销售区域    数量        销售金额
0     P096311 2016-07-30 2016-09-30    晚交货  货品3   质量合格    华北  2.00   105275.00
1     P096826 2016-08-30 2016-10-30   按时交货  货品3   质量合格    华北 10.00 11500000.00
3     P097435 2016-07-30 2016-09-30   按时交货  货品1     返修    华南  2.00   685877.00
4     P097446 2016-11-26 2017-01-26    晚交货  货品3   质量合格    华北 15.00    12958.00
5     P097446 2016-11-26 2017-01-26    晚交货  货品3     拒货    华北 15.00     3239.00
...       ...        ...        ...    ...  ...    ...   ...   ...         ...
1156  P299901 2016-12-15 2017-03-15   按时交货  货品6   质量合格  马来西亚  2.00    20041.00
1157  P302956 2016-12-22 2017-03-22   按时交货  货品2     拒货    华东 20.00     7944.00
1158  P303801 2016-12-15 2017-03-15   按时交货  货品2   质量合格    华东  1.00    19408.00
1159  P307276 2016-12-22 2017-03-22   按时交货  货品6   质量合格  马来西亚  1.00     3218.00
1160  P314165 2016-12-20 2017-03-20   按时交货  货品2   质量合格    华东  1.00   172092.00

[1067 rows x 9 columns]

In [68]:
data['月份'] = data.销售时间.dt.month
data

,订单号,销售时间,交货时间,货品交货状况,货品,货品用户反馈,销售区域,数量,销售金额,月份
0,P096311,2016-07-30,2016-09-30,晚交货,货品3,质量合格,华北,2.00,105275.00,7
1,P096826,2016-08-30,2016-10-30,按时交货,货品3,质量合格,华北,10.00,11500000.00,8
3,P097435,2016-07-30,2016-09-30,按时交货,货品1,返修,华南,2.00,685877.00,7
4,P097446,2016-11-26,2017-01-26,晚交货,货品3,质量合格,华北,15.00,12958.00,11
5,P097446,2016-11-26,2017-01-26,晚交货,货品3,拒货,华北,15.00,3239.00,11
...,...,...,...,...,...,...,...,...,...,...
1156,P299901,2016-12-15,2017-03-15,按时交货,货品6,质量合格,马来西亚,2.00,20041.00,12
1157,P302956,2016-12-22,2017-03-22,按时交货,货品2,拒货,华东,20.00,7944.00,12
1158,P303801,2016-12-15,2017-03-15,按时交货,货品2,质量合格,华东,1.00,19408.00,12
1159,P307276,2016-12-22,2017-03-22,按时交货,货品6,质量合格,马来西亚,1.00,3218.00,12
1160,P314165,2016-12-20,2017-03-20,按时交货,货品2,质量合格,华东,1.00,172092.00,12

## 数据分析并可视化

### PART1 货品配送服务分析

1.配送服务是否存在问题

        a.月份维度

In [69]:
data.货品交货状况 = data.货品交货状况.str.strip()
data1 = data.groupby(['月份','货品交货状况']).size().unstack()
data1['按时交货率'] = data1['按时交货'] / (data1['按时交货'] + data1['晚交货']) * 100
data1

货品交货状况  按时交货  晚交货  按时交货率
月份
7        180   13  93.26
8        207   32  86.61
9        113    8  93.39
10       221   29  88.40
11        88   25  77.88
12       133   18  88.08

 - 第四季度按时交货率明显低于第三季度

        b.销售区域维度

In [70]:
data2 = data.groupby(['销售区域', '货品交货状况']).size().unstack()
data2['按时交货率'] = data2['按时交货'] / (data2['按时交货'] + data2['晚交货']) * 100
data2.sort_values(by='按时交货率', ascending=False)

货品交货状况  按时交货  晚交货  按时交货率
销售区域
泰国       170    4  97.70
马来西亚     292   16  94.81
华南        10    1  90.91
华北       213   26  89.12
华东       241   39  86.07
西北        16   39  29.09

 - 西北地区交货存在很大问题，急需解决

        c.货品维度

In [71]:
data3 = data.groupby(['货品', '货品交货状况']).size().unstack()
data3['按时交货率'] = data3['按时交货'] / (data3['按时交货'] + data3['晚交货']) * 100
data3

货品交货状况  按时交货  晚交货  按时交货率
货品
货品1       27    2  93.10
货品2      242   48  83.45
货品3      199   25  88.84
货品4       13   39  25.00
货品5      170    4  97.70
货品6      291    7  97.65

- 货品4交货存在很大问题，急需解决

        d.货品和销售区域结合

In [72]:
data4 = data.pivot_table(index='销售区域', columns='货品交货状况', values='货品', aggfunc='value_counts').fillna(0)
data4['按时交货率'] = data4['按时交货'] / (data4['按时交货'] + data4['晚交货']) * 100
data4

货品交货状况     按时交货   晚交货  按时交货率
销售区域 货品
华东   货品2 241.00 39.00  86.07
华北   货品1  14.00  1.00  93.33
     货品3 199.00 25.00  88.84
华南   货品1  10.00  1.00  90.91
泰国   货品5 170.00  4.00  97.70
西北   货品1   3.00  0.00 100.00
     货品4  13.00 39.00  25.00
马来西亚 货品2   1.00  9.00  10.00
     货品6 291.00  7.00  97.65

- 西北地区货品4交货存在很大问题，急需解决，马来西亚货品2交货存在很大问题，急需解决

### PART2 销售区域潜力分析

2.是否存在尚有潜力的销售区域(a.月份维度b.销售区域维度c.月份和销售区域结合)

        a 月份维度

In [73]:
data5 = data.pivot_table(index='月份', columns='货品', values='数量', aggfunc='sum').fillna(0)
data5

货品     货品1      货品2     货品3     货品4     货品5     货品6
月份
7   283.00   486.00 2041.50  414.00  728.00 1631.00
8  1413.00  2863.00 1045.00 1184.00 2374.00 1151.00
9  1693.00  2751.00 1670.00    0.00  269.00  342.00
10    4.00 28400.00 1679.00 2540.00 1981.00 2351.00
11   20.00  1323.00   97.00    3.00   14.00  362.00
12    4.00 17903.00 2167.00 1080.00  344.00 2483.00

In [74]:
import pyecharts.options as opts
from pyecharts.charts import Line
from pyecharts.faker import Faker


line = Line(init_opts=opts.InitOpts(theme='dark'))
line.add_xaxis(xaxis_data=[f'{i}' for i in data5.index.tolist()])
line.add_yaxis(
    series_name="货品1",
    y_axis=data5.loc[7:12, '货品1'].tolist(),
    label_opts=opts.LabelOpts(is_show=False),
)
line.add_yaxis(
    series_name="货品2",
    y_axis=data5.loc[7:12, '货品2'].tolist(),
    label_opts=opts.LabelOpts(is_show=False),
)
line.add_yaxis(
    series_name="货品3",
    y_axis=data5.loc[7:12, '货品3'].tolist(),
    label_opts=opts.LabelOpts(is_show=False),
)
line.add_yaxis(
    series_name="货品4",
    y_axis=data5.loc[7:12, '货品4'].tolist(),
    label_opts=opts.LabelOpts(is_show=False),
)
line.add_yaxis(
    series_name="货品5",
    y_axis=data5.loc[7:12, '货品5'].tolist(),
    label_opts=opts.LabelOpts(is_show=False),
)
line.add_yaxis(
    series_name="货品6",
    y_axis=data5.loc[7:12, '货品6'].tolist(),
    label_opts=opts.LabelOpts(is_show=False),
)
line.set_global_opts(
    title_opts=opts.TitleOpts(title="折线图堆叠"),
    tooltip_opts=opts.TooltipOpts(trigger="axis"),
    xaxis_opts=opts.AxisOpts(name='月份'),
    yaxis_opts=opts.AxisOpts(name='数量'),
    toolbox_opts=opts.ToolboxOpts(is_show=True, orient='vertical', pos_left='right', pos_top='45%'),
    legend_opts=opts.LegendOpts(pos_left='center', pos_top='top', orient='horizontal'),
    visualmap_opts=opts.VisualMapOpts(is_show=True, dimension=0, series_index=5, pos_top='10%', pos_right='0%', min_=0, max_=30000, range_color=Faker.visual_color),
)
line.render_notebook()

        b 销售区域

In [75]:
data6 = data.pivot_table(index='销售区域', columns='货品', values='数量', aggfunc='sum').fillna(0)
data6

货品       货品1      货品2     货品3     货品4     货品5     货品6
销售区域
华东      0.00 52216.00    0.00    0.00    0.00    0.00
华北   2827.00     0.00 8699.50    0.00    0.00    0.00
华南    579.00     0.00    0.00    0.00    0.00    0.00
泰国      0.00     0.00    0.00    0.00 5710.00    0.00
西北     11.00     0.00    0.00 5221.00    0.00    0.00
马来西亚    0.00  1510.00    0.00    0.00    0.00 8320.00

        c 月份和区域维度

In [76]:
data7 = data.pivot_table(index=['月份', '销售区域'], columns='货品', values='数量', aggfunc='sum').fillna(0)
data7

货品          货品1      货品2     货品3     货品4     货品5     货品6
月份 销售区域
7  华东      0.00   484.00    0.00    0.00    0.00    0.00
   华北      1.00     0.00 2041.50    0.00    0.00    0.00
   华南    282.00     0.00    0.00    0.00    0.00    0.00
   泰国      0.00     0.00    0.00    0.00  728.00    0.00
   西北      0.00     0.00    0.00  414.00    0.00    0.00
   马来西亚    0.00     2.00    0.00    0.00    0.00 1631.00
8  华东      0.00  1360.00    0.00    0.00    0.00    0.00
   华北   1410.00     0.00 1045.00    0.00    0.00    0.00
   华南      3.00     0.00    0.00    0.00    0.00    0.00
   泰国      0.00     0.00    0.00    0.00 2374.00    0.00
   西北      0.00     0.00    0.00 1184.00    0.00    0.00
   马来西亚    0.00  1503.00    0.00    0.00    0.00 1151.00
9  华东      0.00  2750.00    0.00    0.00    0.00    0.00
   华北   1409.00     0.00 1670.00    0.00    0.00    0.00
   华南    283.00     0.00    0.00    0.00    0.00    0.00
   泰国      0.00     0.00    0.00    0.00  269.00    0.00
   西北      1.00     0.00    0.00    0.00    0.00    0.00
   马来西亚    0.00     1.00    0.00    0.00    0.00  342.00
10 华东      0.00 28400.00    0.00    0.00    0.00    0.00
   华北      3.00     0.00 1679.00    0.00    0.00    0.00
   泰国      0.00     0.00    0.00    0.00 1981.00    0.00
   西北      1.00     0.00    0.00 2540.00    0.00    0.00
   马来西亚    0.00     0.00    0.00    0.00    0.00 2351.00
11 华东      0.00  1322.00    0.00    0.00    0.00    0.00
   华北      2.00     0.00   97.00    0.00    0.00    0.00
   华南      9.00     0.00    0.00    0.00    0.00    0.00
   泰国      0.00     0.00    0.00    0.00   14.00    0.00
   西北      9.00     0.00    0.00    3.00    0.00    0.00
   马来西亚    0.00     1.00    0.00    0.00    0.00  362.00
12 华东      0.00 17900.00    0.00    0.00    0.00    0.00
   华北      2.00     0.00 2167.00    0.00    0.00    0.00
   华南      2.00     0.00    0.00    0.00    0.00    0.00
   泰国      0.00     0.00    0.00    0.00  344.00    0.00
   西北      0.00     0.00    0.00 1080.00    0.00    0.00
   马来西亚    0.00     3.00    0.00    0.00    0.00 2483.00

### PART3 商品质量分析

3.商品是否存在质量问题？

In [77]:
data

,订单号,销售时间,交货时间,货品交货状况,货品,货品用户反馈,销售区域,数量,销售金额,月份
0,P096311,2016-07-30,2016-09-30,晚交货,货品3,质量合格,华北,2.00,105275.00,7
1,P096826,2016-08-30,2016-10-30,按时交货,货品3,质量合格,华北,10.00,11500000.00,8
3,P097435,2016-07-30,2016-09-30,按时交货,货品1,返修,华南,2.00,685877.00,7
4,P097446,2016-11-26,2017-01-26,晚交货,货品3,质量合格,华北,15.00,12958.00,11
5,P097446,2016-11-26,2017-01-26,晚交货,货品3,拒货,华北,15.00,3239.00,11
...,...,...,...,...,...,...,...,...,...,...
1156,P299901,2016-12-15,2017-03-15,按时交货,货品6,质量合格,马来西亚,2.00,20041.00,12
1157,P302956,2016-12-22,2017-03-22,按时交货,货品2,拒货,华东,20.00,7944.00,12
1158,P303801,2016-12-15,2017-03-15,按时交货,货品2,质量合格,华东,1.00,19408.00,12
1159,P307276,2016-12-22,2017-03-22,按时交货,货品6,质量合格,马来西亚,1.00,3218.00,12
1160,P314165,2016-12-20,2017-03-20,按时交货,货品2,质量合格,华东,1.00,172092.00,12

In [78]:
data8 = data.pivot_table(index=['货品', '销售区域'], columns='货品用户反馈', aggfunc='size').fillna(0)
data8

货品用户反馈      拒货   质量合格    返修
货品  销售区域
货品1 华北    0.00   3.00 12.00
    华南    5.00   4.00  2.00
    西北    0.00   1.00  2.00
货品2 华东   67.00 162.00 51.00
    马来西亚  6.00   1.00  3.00
货品3 华北   31.00 175.00 18.00
货品4 西北    0.00   8.00 44.00
货品5 泰国   14.00 132.00 28.00
货品6 马来西亚 55.00 229.00 14.00

In [79]:
data8['拒货率'] = data8.拒货 / data8.sum(axis=1) * 100
data8['质量合格率'] = data8.质量合格 / data8.sum(axis=1) * 100
data8['返修率'] = data8.返修 / data8.sum(axis=1) * 100
data8

货品用户反馈      拒货   质量合格    返修   拒货率  质量合格率   返修率
货品  销售区域
货品1 华北    0.00   3.00 12.00  0.00  20.00 34.29
    华南    5.00   4.00  2.00 45.45   7.09  3.15
    西北    0.00   1.00  2.00  0.00  33.33  5.50
货品2 华东   67.00 162.00 51.00 23.93  53.30 14.28
    马来西亚  6.00   1.00  3.00 60.00   1.43  4.20
货品3 华北   31.00 175.00 18.00 13.84  73.58  5.78
货品4 西北    0.00   8.00 44.00  0.00  15.38 65.30
货品5 泰国   14.00 132.00 28.00  8.05  72.51 11.00
货品6 马来西亚 55.00 229.00 14.00 18.46  72.36  3.60

## 总结分析